{% extends 'base.html' %} 
<!--  -->
{%block content %}
<ul class="list-disc px-4">
  <h1 class="text-2xl font-bold text-center mb-8">My Fines</h1>
  {% for fine in fines %}
  <li>
    <div class="flex flex-col sm:flex-row content-center">
      <h2 class="mt-0 sm:mt-2">
        Fine of
        <span class="text-black text-red-500">₹{{fine.amount}}</span> for Book
        :- <b>{{fine.issue.book.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --------></b>
      </h2>
      {%if fine.paid %}
      <p class="text-white hover:shadow-md text-md rounded text-center bg-green-700 px-4 py-1 mt-2 sm:mt-0 ml-0 sm:ml-2">Paid on {{fine.datetime_of_payment}}</p>
      {% else %}
      <a
        class="text-white hover:shadow-md text-md rounded text-center bg-red-600 px-4 py-2 mt-2 sm:mt-0 ml-0 sm:ml-2"
        > Alert pay in time</a
      >
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
